body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #686868;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

* {
  box-sizing: border-box; }

.btn {
  background: #D2D8DB;
  border-radius: 50px;
  display: inline-block;
  padding: 7px 12px;
  color: #686868;
  border: none; }
  .btn-primary {
    background: #4991FF;
    color: white; }
  .btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 35%;
    display: block; }
  .btn-centered {
    margin: 0 auto; }
  .btn-bigger {
    width: 60px;
    height: 60px; }

.cirkel {
  background: white;
  border-radius: 200px;
  display: inline-block;
  padding: 7px 12px;
  border: 2px solid #D8E9FF;
  width: 16.6vw;
  height: 16.6vw;
  line-height: 16.6vw;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 10%;
  float: left; }
  .cirkel-filled {
    background: #D8E9FF; }
  .cirkel .faseicoon {
    width: 90%;
    max-height: 100%;
    display: inline-block; }
    .cirkel .faseicoon-first {
      padding: 8%; }

#container {
  position: relative;
  height: calc(100vh - 9vw); }

#wrapper {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%; }

#inloggen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }
  #inloggen #logocontainer {
    float: left;
    margin-right: 5.5vw;
    margin-left: 5.5vw; }
    #inloggen #logocontainer .logo {
      width: 23vw; }
  #inloggen #inlogformulier {
    float: left; }
    #inloggen #inlogformulier input, #inloggen #inlogformulier textarea {
      width: 35vw; }

.arrow {
  width: 48%; }

#titel {
  width: 80%;
  float: left; }

#profielicoon {
  width: 20%;
  height: 100px;
  text-align: right;
  float: right;
  clear: right; }

#fasen {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 4%; }

h3 {
  text-align: center;
  color: #4991FF;
  font-size: 1.6em;
  font-weight: 300; }

.circleholder {
  margin-right: 2%; }
  .circleholder-last {
    margin-right: 0; }

h1 {
  color: #4991FF;
  font-weight: 400; }

.timeline {
  background: #ccc;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 9vw; }
  .timeline #sliderdot {
    position: fixed;
    background: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    bottom: 25px;
    left: 20px;
    z-index: 10;
    cursor: pointer;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08); }

section.algemeen,
section.afsprong,
section.keerpunt,
section.vluchtfase1,
section.vluchtfase2,
section.comment {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0; }
  section.algemeen svg,
  section.afsprong svg,
  section.keerpunt svg,
  section.vluchtfase1 svg,
  section.vluchtfase2 svg,
  section.comment svg {
    max-height: calc(100vh - 9vw);
    max-width: 99vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  section.algemeen.active,
  section.afsprong.active,
  section.keerpunt.active,
  section.vluchtfase1.active,
  section.vluchtfase2.active,
  section.comment.active {
    opacity: 1; }
    section.algemeen.active circle,
    section.algemeen.active text,
    section.afsprong.active circle,
    section.afsprong.active text,
    section.keerpunt.active circle,
    section.keerpunt.active text,
    section.vluchtfase1.active circle,
    section.vluchtfase1.active text,
    section.vluchtfase2.active circle,
    section.vluchtfase2.active text,
    section.comment.active circle,
    section.comment.active text {
      opacity: 1; }

.algemeen {
  padding: 8vh; }

.algemeen-container {
  position: relative;
  float: left;
  width: 60%;
  height: calc(100vh - 9vw - 16vh); }
  .algemeen-container-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .algemeen-container h1 {
    font-size: 7.1vw;
    margin: -0.4em 0 .2em 0;
    font-weight: 500; }

.label {
  background: rgba(104, 104, 104, 0.1);
  padding: 12px 20px;
  display: inline-block;
  font-weight: 400;
  border-radius: 100px; }
  .label-primary {
    border: 2px solid #D8E9FF;
    background: none;
    color: #4991FF; }

.time {
  font-size: 2em;
  font-weight: 500;
  position: fixed;
  top: 6vh;
  left: 5vw; }

circle,
text {
  opacity: 0;
  transition: all 1s; }

::selection {
  background: none; }

.timeline {
  padding: 0px 20px;
  background-color: #D8E9FF; }

strong {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 0.3em;
  display: inline-block;
  color: #4991FF; }

.type-washed {
  letter-spacing: 0.01em;
  line-height: 1.4; }

.cards {
  float: left;
  width: 40%;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around; }
  .cards .card {
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.07);
    display: block;
    padding: 5% 8%;
    margin-bottom: 5%;
    text-align: center;
    border-radius: 0.4vw;
    width: 45%; }
    .cards .card img {
      margin-top: -20px;
      max-height: 180px;
      max-width: 100%; }

.stripes, .stripes:before, .stripes:after {
  height: 22px;
  width: 2px;
  background: #686868;
  position: absolute;
  left: 16px;
  top: 14px; }
  .stripes:before {
    content: "";
    top: 0;
    left: 8px; }
  .stripes:after {
    content: "";
    top: 0;
    left: 16px; }

.hand1,
.hand2,
.enkel1,
.enkel2,
.middel1,
.middel2,
.knie1,
.knie2 {
  opacity: 0;
  transition: all .2s; }

h2 {
  font-weight: 100;
  color: #53556F;
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0; }

.subtitle {
  font-weight: 100;
  color: #686868;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 10px; }

.comment {
  padding: 30px; }

label {
  margin: 10px 5px;
  text-align: left;
  color: #4991FF;
  font-weight: 400;
  display: inline-block;
  width: 100%; }

input, textarea {
  background: rgba(216, 233, 255, 0.18);
  border: 3px solid rgba(73, 145, 255, 0.18);
  font-size: 1em;
  color: #686868;
  height: 60px;
  border-radius: 30px;
  padding: 5px 15px;
  font-weight: 100;
  font-family: "Ubuntu", sans-serif;
  min-width: 60%; }
  input:focus, textarea:focus {
    outline: none;
    border: 2px solid #4991FF; }
  input::selection, textarea::selection {
    background: rgba(73, 145, 255, 0.28); }

textarea {
  height: auto;
  width: 100%;
  border-radius: 30px; }

.results-title {
  position: fixed;
  top: 6vh;
  left: 5vw; }

/*# sourceMappingURL=style.css.map */
