.btn {
  background: #D2D8DB;
  border-radius: 50px;
  display: inline-block;
  padding: 12px 20px;
  color: #686868;
  border: none;
  text-decoration: none;
  font-weight: 400;
  border: 2px solid #D2D8DB;
  transition: all .2s; }
  .btn-primary {
    background: #4991FF;
    color: white;
    border-color: #4991FF; }
    .btn-primary:hover {
      background-color: #0063fc;
      border-color: #0063fc; }
  .btn-back {
    background: white;
    border-color: #4991FF;
    border: 1px solid #4991FF; }
  .btn-secondary {
    background: none;
    border-color: #D8E9FF;
    color: #686868; }
    .btn-secondary:hover {
      background-color: #D8E9FF; }
    .btn-secondary-small {
      font-size: 0.75em;
      padding: 8px 15px;
      margin-right: 0.5vw; }
  .btn-circle {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0 35%;
    display: block; }
  .btn-rounded {
    height: 50px;
    text-align: center;
    display: block; }
  .btn-centered {
    margin: 0 auto; }
  .btn-bigger {
    width: 60px;
    height: 60px; }
  .btn-backcircle {
    width: 50px;
    height: 50px;
    margin-right: 1%;
    text-align: center;
    display: inline; }

.cirkel {
  background: white;
  border-radius: 200px;
  display: inline-block;
  padding: 7px 12px;
  border: 2px solid #D8E9FF;
  width: 16.6vw;
  height: 16.6vw;
  line-height: 16.6vw;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 10%;
  float: left; }
  .cirkel-filled {
    background: #f2f8ff; }
  .cirkel .faseicoon {
    width: 90%;
    max-height: 100%;
    display: inline-block; }
    .cirkel .faseicoon-first {
      padding: 8%; }

::selection {
  background: none; }

h1 {
  color: #4991FF;
  font-weight: 400; }

h3 {
  text-align: center;
  color: #4991FF;
  font-size: 1.6em;
  font-weight: 300; }

strong {
  font-size: 1.7em;
  font-weight: 500;
  margin-bottom: 0.3em;
  display: inline-block;
  color: #4991FF; }

.type-washed {
  letter-spacing: 0.01em;
  line-height: 1.4; }

.label {
  background: rgba(104, 104, 104, 0.1);
  padding: 12px 20px;
  display: inline-block;
  font-weight: 400;
  border-radius: 100px; }
  .label-primary {
    border: 2px solid #D8E9FF;
    background: none;
    color: #4991FF; }

.cards {
  padding: 0;
  margin: 0; }
  .cards .card {
    box-shadow: 0px 0px 2vw rgba(0, 0, 0, 0.07);
    display: block;
    padding: 5% 8%;
    margin-bottom: 5%;
    border-radius: 0.4vw; }

.timeline {
  background: #ccc;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 9vw;
  padding: 0px 70px;
  background-color: #D8E9FF; }
  .timeline #sliderdot {
    position: fixed;
    background: white;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    bottom: 35px;
    left: 0px;
    z-index: 10;
    cursor: pointer;
    display: block;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    margin-left: -25px; }

section.algemeen,
section.afsprong,
section.keerpunt,
section.vluchtfase1,
section.vluchtfase2,
section.comment {
  opacity: 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0; }
  section.algemeen svg,
  section.afsprong svg,
  section.keerpunt svg,
  section.vluchtfase1 svg,
  section.vluchtfase2 svg,
  section.comment svg {
    max-height: calc(100vh - 9vw);
    max-width: 99vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
  section.algemeen.active,
  section.afsprong.active,
  section.keerpunt.active,
  section.vluchtfase1.active,
  section.vluchtfase2.active,
  section.comment.active {
    opacity: 1; }
    section.algemeen.active circle,
    section.algemeen.active text,
    section.afsprong.active circle,
    section.afsprong.active text,
    section.keerpunt.active circle,
    section.keerpunt.active text,
    section.vluchtfase1.active circle,
    section.vluchtfase1.active text,
    section.vluchtfase2.active circle,
    section.vluchtfase2.active text,
    section.comment.active circle,
    section.comment.active text {
      opacity: 1; }

.algemeen {
  padding: 8vh; }

.algemeen-container {
  position: relative;
  float: left;
  width: 60%;
  height: calc(100vh - 9vw - 16vh); }
  .algemeen-container-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .algemeen-container h1 {
    font-size: 7vw;
    margin: -0.4em 0 .2em 0;
    font-weight: 500; }

.time {
  font-size: 2em;
  font-weight: 500;
  position: fixed;
  top: 6vh;
  left: 5vw; }

.algemeen .cards {
  float: left;
  width: 40%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  text-align: center; }
  .algemeen .cards .card {
    width: 45%; }
    .algemeen .cards .card img {
      margin-top: -20px;
      max-height: 15vh;
      max-width: 100%; }

.chart-container {
  width: 70%;
  float: left; }

.score-container {
  width: 24%;
  margin-right: 6%;
  float: left; }

.dashboard-inner {
  clear: both; }

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.timer-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .timer-container svg {
    max-width: 140vw;
    max-height: 140vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }
    .timer-container svg #ring1, .timer-container svg #ring2, .timer-container svg #ring3 {
      transform: rotate(0deg);
      transform-origin: center;
      -webkit-animation: rotate 40s linear infinite; }
    .timer-container svg #ring2 {
      transform-origin: 52.4% 48.4%;
      animation-delay: -.3s; }
    .timer-container svg #ring3 {
      animation-delay: -.6s; }
  .timer-container h1 {
    font-size: 8vmax;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    margin: -10px 0 0 0; }

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  color: #686868;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

* {
  box-sizing: border-box; }

a.small {
  color: #53556F;
  font-size: 0.8em; }

#container {
  position: relative;
  height: calc(100vh - 9vw); }

#wrapper {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%; }

#inloggen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); }
  #inloggen #logocontainer {
    float: left;
    margin-right: 5.5vw;
    margin-left: 5.5vw; }
    #inloggen #logocontainer .logo {
      width: 23vw; }
  #inloggen #inlogformulier {
    float: left; }
    #inloggen #inlogformulier input, #inloggen #inlogformulier .input-register, #inloggen #inlogformulier .input-small, #inloggen #inlogformulier textarea {
      width: 35vw; }

#wwvergetenform {
  margin-bottom: 4%; }

#inlog-links {
  bottom: 5vw;
  right: 5vw;
  position: absolute; }

.arrow {
  width: 13px;
  margin: 0 -2px; }
  .arrow-back {
    width: 140%;
    margin: 0 -10px; }
  .arrow-text {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5em;
    float: left;
    margin-right: 30px; }

.alignright {
  float: right; }

.naamholder, .iconholder {
  float: right; }

.iconholder {
  margin-right: 3%; }

.icon {
  width: 20%; }

.darktext {
  font-size: 1.1em;
  font-weight: 400;
  color: #222222; }

#titel {
  width: 60%;
  float: left; }

#profielicoon {
  width: 40%;
  height: 100px;
  text-align: right;
  float: right;
  clear: right; }

#fasen {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 4%; }

.circleholder {
  margin-right: 2%; }
  .circleholder-last {
    margin-right: 0; }

.stripes, .stripes:before, .stripes:after {
  height: 22px;
  width: 2px;
  background: #686868;
  position: absolute;
  left: 16px;
  top: 14px; }
  .stripes:before {
    content: "";
    top: 0;
    left: 8px; }
  .stripes:after {
    content: "";
    top: 0;
    left: 16px; }

.hand1,
.hand2,
.enkel1,
.enkel2,
.middel1,
.middel2,
.knie1,
.knie2 {
  opacity: 0;
  transition: all .2s; }

h2 {
  font-weight: 100;
  color: #53556F;
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0; }

.subtitle {
  font-weight: 100;
  color: #686868;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 10px; }

.comment {
  padding: 6vh 5vw; }
  .comment form {
    margin: 4vh 0; }

.add-photo {
  height: 70vh;
  width: 15%;
  display: inline-block;
  float: left; }

.profilepicture {
  width: 8vw; }

.registreer-form {
  float: left;
  width: 80%;
  display: inline-block; }

.form-links {
  width: 30%;
  margin-right: 2%;
  margin-bottom: 2%;
  float: left; }

.form-rechts {
  width: 48%;
  margin-bottom: 2%;
  float: left; }

.inline {
  display: inline; }

label {
  margin: 10px 5px;
  text-align: left;
  color: #4991FF;
  font-weight: 500;
  font-size: 0.95em;
  display: inline-block;
  width: 100%; }

input, .input-register, .input-small, textarea {
  background: rgba(210, 216, 219, 0.26);
  border: 3px solid transparent;
  font-size: 1em;
  color: #686868;
  height: 60px;
  border-radius: 30px;
  padding: 5px 15px;
  font-weight: 100;
  font-family: "Ubuntu", sans-serif;
  min-width: 60%; }
  input:focus, .input-register:focus, .input-small:focus, textarea:focus {
    outline: none;
    border: 2px solid #4991FF;
    border-color: rgba(73, 145, 255, 0.18); }
  input::selection, .input-register::selection, .input-small::selection, textarea::selection {
    background: rgba(73, 145, 255, 0.28); }

.input-register {
  width: 100%; }

.input-small {
  min-width: 50%; }

#email.input-register {
  width: 80%; }

textarea {
  height: auto;
  width: 100%;
  border-radius: 30px; }

.title {
  width: 100%;
  margin-bottom: 8vh; }

.results-title {
  position: fixed;
  top: 6vh;
  left: 5vw; }

@-webkit-keyframes wiggle {
  0% {
    transform: rotate(3deg); }
  50% {
    transform: rotate(-7deg); }
  100% {
    transform: rotate(3deg); } }
.tooltip {
  position: absolute;
  margin-top: -55px;
  background: rgba(0, 0, 0, 0.51);
  color: white;
  font-weight: 600;
  padding: 10px;
  width: 90px;
  border-radius: 5px;
  left: -20px;
  transform-origin: center 150%;
  -webkit-animation: wiggle .8s ease-in-out infinite;
  transition: opacity .2s; }
  .tooltip:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 12px solid rgba(0, 0, 0, 0.51);
    position: absolute;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto; }

.btn-group {
  float: right;
  margin-top: 20px; }

/*# sourceMappingURL=style.css.map */
