@import "variabelen";
@import "mixins";

@import "components/btn";
@import "components/type";
@import "components/cards";
@import "layout/timeline";
@import "layout/dashboard";

body {
  font-family: $brand-font;
  font-weight: 300;
  color: $brand-gray-dark;
  margin: 0;
  -webkit-font-smoothing: antialiased; //prettyfier 
}

* {
  box-sizing: border-box;
}


#container {
  position: relative;
  height: calc(100vh - 9vw);
}

#wrapper {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 4%;
}

#inloggen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  #logocontainer {
    float: left;
    margin-right: 5.5vw;
    margin-left: 5.5vw;
    .logo {
      width: 23vw;
    }
  }
  #inlogformulier {
    float: left;
    input {
      width: 35vw;
    }
  }
}

.arrow {
  width: 110%;
}

#titel {
  width: 80%;
  float: left;
}

#profielicoon {
  width: 20%;
  height: 100px;
  text-align: right;
  float: right;
  clear: right;
}

#fasen {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15%;
  margin-bottom: 4%;
}



.circleholder {
  margin-right: 2%;
  &-last {
    margin-right: 0;
  }
}




circle,
text {
  opacity: 0;
  transition: all 1s;
}





.timeline {
  padding: 0px 50px;
  background-color: $brand-secondary;
}




.stripes {
  height: 22px;
  width: 2px;
  background: $brand-gray-dark;
  position: absolute;
  left: 16px;
  top: 14px;
  &:before {
    content: "";
    @extend .stripes;
    top: 0;
    left: 8px;
  }
  &:after {
    content: "";
    @extend .stripes;
    top: 0;
    left: 16px;
  }
}

.hand1,
.hand2,
.enkel1,
.enkel2,
.middel1,
.middel2,
.knie1,
.knie2 {
  opacity: 0;
  transition: all .2s;
}

h2 {
  font-weight: 100;
  color: $brand-gray-darker;
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top: 0;
}

.subtitle {
  font-weight: 100;
  color: $brand-gray-dark;
  font-size: 1.1em;
  display: inline-block;
  margin-top: 10px;
}

.comment {
  padding: 6vh 5vw;

  form{
    margin: 4vh 0;
  }
}

label {
  margin: 10px 5px;
  text-align: left;
  color: $brand-primary;
  font-weight: 400;
  display: inline-block;
  width: 100%;
}

input {
  background: rgba($brand-gray-light, .26);
  border: 3px solid transparent;
  font-size: 1em;
  color: $brand-gray-dark;
  height: 60px;
  border-radius: 30px;
  padding: 5px 15px;
  font-weight: 100;
  font-family: $brand-font;
  min-width: 60%;
  &:focus {
    outline: none;
    border: 2px solid $brand-primary;
    border-color: rgba($brand-primary, .18);
  }
  &::selection {
    background: rgba($brand-primary, .28);
    ;
  }
}

textarea {
  @extend input;
  height: auto;
  width: 100%;
  border-radius: 30px;
}

.results-title{
  position: fixed;
    top: 6vh;
    left: 5vw;
}

@-webkit-keyframes wiggle{
  0%{transform: rotate(3deg);}
  50%{transform: rotate(-7deg);}
  100%{transform: rotate(3deg);}
}

.tooltip {
    position: absolute;
    margin-top: -55px;
    background: rgba(0, 0, 0, 0.51);
    color: white;
    font-weight: 600;
    padding: 10px;
    width: 90px;
    border-radius: 5px;
    left: -20px;
    transform-origin: center 150%;
    -webkit-animation: wiggle .8s ease-in-out infinite;
    transition: opacity .2s;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid rgba(0, 0, 0, 0);
      border-right: 8px solid rgba(0, 0, 0, 0);
      border-top: 12px solid rgba(0, 0, 0, 0.51);
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      margin: auto;
  }
}

    
.btn-group{
  float: right;
  margin-top: 20px;
}