

@-webkit-keyframes rotate{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}

@-webkit-keyframes rotate-left{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(-360deg)}
}

.timer-container{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    overflow: hidden; 
 
    svg{
        max-width: 140vw;
        max-height: 140vh;
        @include centralize();
    }

    h1{
        font-size: 8vmax;
        @include centralize();
        font-weight: 500;
        margin: -10px 0 0 0;
    }
}

