@import "../variabelen";
@import "../mixins";

.btn {
  background: $brand-gray-light;
  border-radius: 50px;
  display: inline-block;
  padding: 12px 20px;
  font-family: $brand-font;
  color: $brand-gray-dark;
  border: none;
  text-decoration: none;
  font-weight: 400;
  border: 2px solid $brand-gray-light;
  transition: all .2s;

  &-primary {
    background: $brand-primary;
    color: white;
    border-color: $brand-primary;

    &:hover{
      background-color: darken($brand-primary, 15%);
      border-color: darken($brand-primary, 15%);
    }
  }

  &-secondary{
    background: none;
    border-color: $brand-secondary;
    color: $brand-gray-dark;

    &:hover{
      background-color: $brand-secondary;
    }
  }
  
  &-xs {
    font-size: 0.75em;
    padding: 8px 15px;
    margin-right:0.5vw;
  }
  &-lg{
    font-size: 1em;

    .icon-arrow {
      width: 13px;
      margin: -7px -2px -5px 10px;
    }
  }

  &-circle{
    width: 50px;
    height: 50px;
    padding: 0;

    img{
      width: 10px;
      display: inline-block;
    }
  }
  
}

