@import "../variabelen";
@import "../mixins";

.btn {
  background: $brand-gray-light;
  border-radius: 50px;
  display: inline-block;
  padding: 12px 20px;
  color: $brand-gray-dark;
  border: none;
  text-decoration: none;
  font-weight: 400;
  border: 2px solid $brand-gray-light;
  transition: all .2s;

  &-primary {
    background: $brand-primary;
    color: white;
    border-color: $brand-primary;

    &:hover{
      background-color: darken($brand-primary, 15%);
      border-color: darken($brand-primary, 15%);
    }
  }

  &-back {
    background: white;
    border-color: $brand-primary;
    border:1px solid $brand-primary;
  }

  &-secondary{
    background: none;
    border-color: $brand-secondary;
    color: $brand-gray-dark;

    &:hover{
      background-color: $brand-secondary;
    }

    &-small {
      font-size: 0.75em;
      padding: 8px 15px;
      margin-right:0.5vw;
    }

  }
  &-circle {
    width: 50px;
    height: 50px; 
    text-align: center;
    margin: 0 35%;
    display: block;
  }
  &-centered {
    margin: 0 auto;
  }
  &-bigger {
    width: 60px;
    height: 60px;
  }

  &-backcircle {
    width: 50px;
    height: 50px; 
    margin-right:1%;
    text-align: center;
    display: inline;
  }
}

.cirkel {
  background: white;
  border-radius: 200px;
  display: inline-block;
  padding: 7px 12px;
  border: 2px solid $brand-secondary;
  width: 16.6vw;
  height: 16.6vw;
  line-height: 16.6vw;
  text-align: center;
  margin-right: 2%;
  margin-bottom: 10%;
  float: left;
  &-filled {
    background: #f2f8ff;
  }
  .faseicoon {
    width: 90%;
    max-height: 100%;
    display: inline-block;
    &-first {
      padding: 8%;
    }
  }
}