
@-webkit-keyframes wiggle{
  0%{transform: rotate(3deg);}
  50%{transform: rotate(-7deg);}
  100%{transform: rotate(3deg);}
}


.tooltip {
    position: absolute;
    margin-top: -55px;
    background: rgba(0, 0, 0, 0.51);
    color: white;
    font-weight: 600;
    padding: 10px;
    width: 90px;
    border-radius: 5px;
    left: -20px;
    transform-origin: center 150%;
    -webkit-animation: wiggle .8s ease-in-out infinite;
    transition: opacity .2s;

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 8px solid rgba(0, 0, 0, 0);
      border-right: 8px solid rgba(0, 0, 0, 0);
      border-top: 12px solid rgba(0, 0, 0, 0.51);
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      margin: auto;
  }
}
